<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="container marketing">
        <div class=" container mt-5">
            @RenderBody()
        </div>
    </div>
    <script src="~/js/bootstrap.min.js"></script>
</body>
</html>